@use '../variables';

.header {
    background-color: variables.$backgroundColor;
    box-shadow: 0 10px 40px rgba($color: #c7ecee, $alpha: .7);
    height: 15vh;

    &__button {
        border: 1px solid variables.$secondTextColor;
        border-radius: 4px;
        background-color: transparent;
        width: 2em;
        height: 2em;
        display: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        &:focus {
            box-shadow: none
        }

        i {
            color: variables.$secondTextColor;
            font-size: 1.5em;

            @media (max-width: 425px) {
                font-size: 1em;
            }
        }

        @media (max-width: 768px) {
            display: flex;
        }

    }

    &__menu {
        
        
        &__nav {

            .nav-item {
                
                .nav-link {
                    &.active {
                        color: variables.$secondTextColor;
                    }

                    i {
                        font-size: 1.2em;
                        margin-right: .5em;
                    }

                    &:hover {
                        color: variables.$secondTextColor;
                    }
                }
            }
        }
    }

    &__navbar {
        color: variables.$primaryTextColor;
        
        .nav-item.active {
            color: variables.$secondTextColor;
        }

        &__dropdown {

            &__img {
                width: 30px;
                border-radius: 50%;
            }

            .nav-link {
                color: variables.$primaryTextColor;

                i {
                    font-size: 40px;
                }

                &:hover {
                    color: variables.$secondTextColor;
                }
            }

            .dropdown-menu {
                width: 100%;

                .dropdown-header{
                    display: block;
                    text-align: center;
                }

                .dropdown-item {
                    .text {
                        margin-left: .5em;
                    }

                    &:hover {
                        color: variables.$secondTextColor;
                    }
                }
            }
        }
    }
}