{% extends 'shared/base.html' %}
{% load static %}

{% block contents %}
<main>
    <div class="container">

        <section class="min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-6  d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">

                            <div class="card-body card__form">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4 title--small">Login</h5>
                                    <p class="text-center text">Entre com seu usuário e senha</p>
                                </div>

                                <form class="row g-3" action="{% url 'login_with_jwt' %}" method="POST" id="form-login">
                                    {% csrf_token %}

                                    {% for field in login_form %}
                                        {% if field.name == "username" %}
                                            <div class="col-12">
                                                <label for="username" class="form-label text">{{ field.label }}</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-12">
                                                <label for="password" class="form-label text">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="col-12">
                                        <button class="btn button text" type="submit">Entrar</button>
                                    </div>

                                    <div class="col-12">
                                        <p class="text--small mb-0">Esqueceu sua senha? <a href="#"> Clique a aqui</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger text" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </section>

    </div>
  </main><!-- End #main -->
{% endblock contents %}
    