{% extends 'shared/base_dashboard.html' %}
{% load static %}
{% block dashboard_contents %}
    
    <main class="profile">
        <section class="profile__info">
            {% if member.profile_picture %}
                <img class="profile__info__img" src="{{ member.profile_picture }}" alt="Perfil">
            {% else %}
                <i class="bi bi-person-circle"></i>
            {% endif %}

            <h2 class="title--small">{{ member.name }}</h2>
            {% comment %} Alertas {% endcomment %}
            {% include "partials/_alerts.html" %}
        </section>

        <section class="profile__forms">
            <ul class="nav nav-tabs">
    
                <li class="nav-item">
                    <button class="nav-link {% if active_tab == 'edit-profile' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link {% if active_tab == 'create-functions' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#profile-create-functions">Criar Função</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link {% if active_tab == 'change-password' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#profile-change-password">Alterar Senha</button>
                </li>
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane fade pt-3 {% if active_tab == 'edit-profile' %}show active{% endif %}" id="profile-edit">

                    <!-- Profile Edit Form -->
                    <form action="{% url 'my_profile' %}" method="POST" enctype="multipart/form-data" id="form-profile">
                        {% csrf_token %}
                        {% for field in profile_forms.visible_fields %}
                            
                            {% if field.name == "availability" %}
                                <div class="row">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 text--big title--is-colored">{{ field.label }}</label>
                                    <div class="col-12">
                                        <div class="form-check form-check-success">
                                            {{ field }}
                                            <label class="form-check-label col-md-4 col-lg-3 text" for="{{ field.id_for_label }}">
                                                Disponivel
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 text--big title--is-colored">{{ field.label }}</label>
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% include "partials/_alerts_forms.html" %}
                            
                        {% endfor %}

                        {% comment %} Identifica o formulario {% endcomment %}
                        <input type="hidden" name="form_type" value="profile">

                        <div class="text-center">
                            <button type="submit" form="form-profile" class="btn button">Salvar</button>
                        </div>
                    </form><!-- fim do formulario do usuario -->
                    
                </div> 
                {% comment %} fim do tab-profile {% endcomment %}

                <div class="tab-pane fade {% if active_tab == 'change-password' %}show active{% endif %}" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form id="form-change-password" action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in change_password_forms.visible_fields %}
                            {% if field.name == "new_password" %}
                                <div class="row mb-3">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 text--big title--is-colored">{{ field.label }}</label>
                                    <div class="col-12">
                                        <ul>
                                            <li>
                                                Sua senha não pode ser muito parecida com o resto das suas informações pessoais.
                                            </li>
                                            <li>
                                                Sua senha precisa conter pelo menos 8 caracteres.
                                            </li>
                                            <li>
                                                Sua senha não pode ser uma senha comumente utilizada.
                                            </li>
                                            <li> 
                                                Sua senha não pode ser inteiramente numérica.
                                            </li>
                                        </ul>
                                        {{ field }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mb-3">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 text--big title--is-colored">{{ field.label }}</label>
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}

                            {% include "partials/_alerts_forms.html" %}
                            
                        {% endfor %}

                        {% comment %} Identifica o formulario {% endcomment %}
                        <input type="hidden" name="form_type" value="change_password">

                        <div class="text-center">
                            <button type="submit" form="form-change-password" class="btn button">Alterar Senha</button>
                        </div>
                    
                    </form><!-- End Change Password Form -->
                    
                </div>
                {% comment %} fim do tab mudar de senha {% endcomment %}

                <div class="tab-pane fade {% if active_tab == 'create-functions' %}show active{% endif %}" id="profile-create-functions">
                    <!-- Change Password Form -->
                    <form id="form-create-functions" action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in member_functions_forms.visible_fields %}
                            
                                <div class="row mb-3">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 text--big title--is-colored">{{ field.label }}</label>
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>

                            {% include "partials/_alerts_forms.html" %}
                            
                        {% endfor %}

                        {% comment %} Identifica o formulario {% endcomment %}
                        <input type="hidden" name="form_type" value="create_functions">

                        <div class="text-center">
                            <button type="submit" form="form-create-functions" class="btn button">Criar</button>
                        </div>
                    
                    </form>
                    {% comment %} Fim do formulario para criar função {% endcomment %}
                </div>
                {% comment %} fim do tab profile-create-functions {% endcomment %}
            </div>
            {% comment %} Fim do tab-content {% endcomment %}
        </section>
    </main>
    
{% endblock dashboard_contents %}
