@use '../variables';

.create-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 2vw;
    }

    @media (max-width: 425px) {
        padding: 0;
    }

    &__title {
        margin-left: 5vw;
    }

    &__form {
        border: 1px solid variables.$borderColor;
        padding: 20px;


        &__content {
            margin-top: 30px;
        }

        &__label {
            margin-bottom: 10px;

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        &__button {
            margin-top: 30px;
        }

        &__input {
            @media (max-width: 425px) {
                width: 100%;
            }
        }

    }
}