@use '../variables';

.header-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .title--big {
        color: #fff;
    }

    &__nav {
        
        &__item {
            a {
                color: #fff;

                &:hover {
                    color: variables.$secondTextColor;
                }
            }
        }
    }
}

.about {
    position: relative;
    background-image: url('#{variables.$images-path}/home/praise-1920x1280.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;

    @media (max-width: 768px) {
        background-image: url('#{variables.$images-path}/home/praise-640x427.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: variables.$homeBackgroundColor;
        opacity: 0.8;
    }

    &__info {
        padding-top: 30vh;

        &__contents {
            z-index: 1;

            .text--smal {
                color: #DA5621;
            }
    
            .title--big {
                color: variables.$secondTextColor;
            }
        }
    }
}