@use '../variables';

.login {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10vw;
    gap: 1vw;
    
    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__form {
        padding: 20px;
        min-width: 325px;
        display: flex;
        flex-direction: column;
        border: 1px solid variables.$borderColor;
        
        &__label {
            margin-top: 20px;
        }

        &__button {
            margin-top: 20px;
        }

        &__input {
            margin-top: 20px;
        }

        .text--small {
            margin-top: 10px;
        }
    }
}