@use '../variables';

.profile {
    display: flex;
    justify-content: flex-start;
    gap: 5vw;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;

        &__img {
            max-width: 200px;
            border-radius: 50%;
        }

        i {
            font-size: 50px;
        }
    }

    &__forms {
        border: 1px solid variables.$borderColor;
        padding: 20px;
        min-width: 680px;

        @media (max-width: 768px) {
            min-width: 80vw;
        }

        .nav-tabs {
            border-bottom: 3px solid rgba(variables.$secondTextColor, 0.6);
            
            .nav-item {
                border: none;
                
                .nav-link {
                    border: none;
                    margin-bottom: -3px;
                    color: variables.$primaryTextColor;
                    
                    &:hover {
                        color: variables.$secondTextColor;
                    }

                    &.active {
                        color: variables.$secondTextColor;
                        border-bottom: 3px solid variables.$secondTextColor;
                    }
                }
            }
        }

        .row {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            align-items: flex-start;

            label {
                width: 100%;
                margin-bottom: 10px;
                font-weight: bold;
            }

        }

        .button {
            margin-top: 20px;
        }
    }
}
