@use '../variables';

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    &__forms {

        .nav-tabs {
            border-bottom: 3px solid rgba(variables.$secondTextColor, 0.6);
            
            .nav-item {
                border: none;
                
                .nav-link {
                    border: none;
                    margin-bottom: -3px;
                    color: variables.$primaryTextColor;
                    
                    &:hover {
                        color: variables.$secondTextColor;
                    }

                    &.active {
                        color: variables.$secondTextColor;
                        border-bottom: 3px solid variables.$secondTextColor;
                    }
                }
            }
        }

        .card {
            min-width: 680px;

            @media (max-width: 768px){
                min-width: 80vw;
            }
        }

        &__profile {
            &__img {
                max-width: 200px;
                width: 100%;
                margin-bottom: 10px;
            }

        }

        &__change__password {

        }

        .row {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            align-items: flex-start;

            label {
                width: 100%;
                margin-bottom: 10px;
                font-weight: bold;
            }

        }

        .button {
            margin-top: 20px;
        }
    }
}