@use '../variables';

.button {
    color: #fff;
    background-color: variables.$buttunBackgroundColor;
    width: 100%;

    &:hover {
        background-color: variables.$buttunBackgroundColorHover;
        color: #fff;
    }
}

.btn-success {
    background-color: #055941;

    &:hover {
        background-color: #03A64A;
    }
}