@use './variables';
@use './mixins';

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: variables.$primaryTextColor;
    background-color: variables.$backgroundColor;
}

.text--big {
    @include mixins.text(18px);

    @media (max-width: 768px) {
        @include mixins.text(15px);
    }
}

.text {
    @include mixins.text;

    @media (max-width: 768px) {
        @include mixins.text(14px);
    }
}

.text--small {
    @include mixins.text(12px);

    @media (max-width: 768px) {
        @include mixins.text(11px);
    }
}

.link-text {
    @include mixins.text(18px);

    text-decoration: underline;
}

.title--big {
    @include mixins.title(44px);

    @media (max-width: 768px) {
        @include mixins.title(26px);
    }
}

.title {
    @include mixins.title;

    @media (max-width: 768px) {
        @include mixins.title(24px);
    }
}

.title--small {
    @include mixins.title(28px);

    @media (max-width: 768px) {
        @include mixins.title(22px);
    }
}

.title--is-colored {
    color: variables.$secondTextColor;
}

.card-body {
    box-shadow: 0 0 5px 5px rgba($color: #c7ecee, $alpha: .8)
}

.button {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.main__content {
    padding: 5vw 0.5vw;
}

.img--is-circle {
    border-radius: 50%;
}

.alert {
    margin-top: 10px;
}

.nav-link {
    color: variables.$primaryTextColor;
}
