$images-path: "../images";

$primaryTextColor: #111111;
$secondTextColor: #FF5E14;
$homeBackgroundColor: #271F4C;
$buttunBackgroundColor: #8e44ad;
$buttunBackgroundColorHover: #9b59b6;
$backgroundColor: #FFFFFF;
$borderColor: #CDD4E0;

