$images-path: "../images";
$bodyBackgroundColor: #E4F2E7;
$primaryTextColor: #111111;
$secondTextColor: #FF5E14;
$homeBackgroundColor: #271F4C;
$formBackgroundColor: #ffffff;
$buttunBackgroundColor: #8e44ad;
$buttunBackgroundColorHover: #9b59b6;
$menuBackgroundColor: #FFFFFF;
$borderColor: #CDD4E0;

