{% extends "shared/base.html" %}
{% load static %}
{% block contents %}
    <header class="navbar navbar-expand-lg sticky-top header">
        <div class="container">
            <h1 class="title--small navbar-brand">Igreja</h1>
            <button class="navbar-toggler header__button" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="offcanvas offcanvas-start header__menu" tabindex="-1" id="menu" aria-labelledby="menuLabel">
                <div class="offcanvas-header">
                    <h5 class="title--small" id="menuLabel">Igreja</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body header__menu__nav">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}"  class="nav-link active text">
                                <i class="bi bi-graph-up-arrow"></i>
                                Página Inicial
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle text" data-bs-toggle="dropdown">
                                    <i class="bi bi-file-earmark"></i>
                                    Páginas
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <a href="#" class="nav-link text">Cadastro</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="navbar justify-content-end header__navbar">
                <ul class="nav nav-pills d-block d-md-flex">
                    <li class="nav-item fw-bold dropdown header__navbar__dropdown">
                        <a class="nav-link d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <span class="d-md-block dropdown-toggle-split ps-2 text"> {{ member.name }} </span>
                            
                            {% if member.profile_picture %}
                                <img class="header__navbar__dropdown__img" src="{{ member.profile_picture }}" alt="Perfil">
                            {% else %}
                                <i class="bi bi-person-circle"></i>
                            {% endif %}
                            
                        </a><!-- End Profile Iamge Icon -->
                
                        <ul class="dropdown-menu dropdown-menu-arrow">
                            <li class="dropdown-header">
                                <h6 class="text--big"> {{ member.name }} </h6>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'my_profile' %}">
                                    <i class="bi bi-person header-dash--is-hover"></i>
                                    <span class="text header-dash--is-hover">Meu Perfil</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right header-dash--is-hover"></i>
                                    <span class="text header-dash--is-hover">Sair</span>
                                </a>
                            </li>
                
                        </ul>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>

    <div class="container">
        <main class="main__content">
            {% block dashboard_contents %}{% endblock dashboard_contents %}
        </main>
    </div>
{% endblock contents %}