{% extends "shared/base.html" %}
{% load static %}
{% block contents %}
    <header class="navbar navbar-expand-lg sticky-top p-2 header-dash">
        <div class="container">
            <div class="d-flex header-dash__menu">
                <h1 class="title--small">Igreja</h1>
                <button class="header-dash__menu__button">
                    <i class="bi bi-list"></i>
                </button>
            </div>
            <nav class="collapse navbar-collapse justify-content-end header-dash__nav">
                <ul class="nav nav-pills d-block d-md-flex">
                    <li class="nav-item fw-bold dropdown header-dash__nav__dropdown">
                        <a class="nav-link d-flex align-items-center pe-0 header-dash__dropdown_profile" href="#" data-bs-toggle="dropdown">
                            <span class="d-none d-md-block dropdown-toggle-split ps-2 text--big"> {{ member.name }} </span>
                            <i class="bi bi-person-circle"></i>
                        </a><!-- End Profile Iamge Icon -->
                
                        <ul class="dropdown-menu dropdown-menu-arrow">
                            <li class="dropdown-header">
                                <h6 class="text--big"> {{ member.name }} </h6>
                                <span class="text">Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'my_profile' %}">
                                    <i class="bi bi-person header-dash--is-hover"></i>
                                    <span class="text header-dash--is-hover">Meu Perfil</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bi bi-gear header-dash--is-hover"></i>
                                    <span class="text header-dash--is-hover">Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right header-dash--is-hover"></i>
                                    <span class="text header-dash--is-hover">Sair</span>
                                </a>
                            </li>
                
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main class="main__content">
            {% block dashboard_contents %}{% endblock dashboard_contents %}
        </main>
    </div>
{% endblock contents %}